<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reservation</title>
</head>

<body>
    
    <h2>Existing Reservations:</h2>
    <ul>
        {% for reservation in reservations %}
            <li>{{ reservation.first_name }} {{ reservation.last_name }} - {{ reservation.date_selected }}</li>
        {% empty %}
            <li>No existing reservations</li>
        {% endfor %}
    </ul>
</body>

</html>
